
# Generate one at https://auth.hackclub.com/developer/apps
HCAUTH_CLIENT_ID=...
HCAUTH_CLIENT_SECRET=...
HCAUTH_REDIRECT_URI=http://localhost:3000/auth/callback

# Emails seperated by ; (semicolons)
ADMIN_EMAILS=anemail.from@hackclub.com;anotherone.thatyouwantto@have.com

PORT=3000