
# Generate one at https://auth.hackclub.com/developer/apps
HCAUTH_CLIENT_ID=...
HCAUTH_CLIENT_SECRET=...
HCAUTH_REDIRECT_URI=http://localhost:3000/auth/callback

# Making HC Auth more secure or something (I hate naming stuff)
COOKIE_SECRET=...

# Emails seperated by ; (semicolons)
ADMIN_EMAILS=example@gmail.com;gmail@example.com
BYPASS_ADMIN=false
PORT=3000