<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ts.hackclub.com</title>

    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <button id="saveButton">save</button>
    <div id="tsViewport">
        <div id="tsWorld">
            <div id="tsCanvasBg"></div>
            <svg id="tsCanvas" width="10000" height="10000"></svg>
        </div>
    </div>

    <div class="relative">
        <div class="selector">
            <div class="selectorTools">
                <div id="selectDrawing"></div>
                <div id="selectEraser"></div>
                <div id="selectColorPicker"></div>
            </div>
            <div class="selectorColors">
                <div id="colorRed"></div>
                <div id="colorOrange"></div>
                <div id="colorCustom"></div>
            </div>
            <div class="selectorBrushSizes">
                <div id="brushSmall"></div>
                <div id="brushMedium"></div>
                <div id="brushHuge"></div>
            </div>
        </div>
    </div>

    <script src="/public/js/paint.js"></script>
    <script>
        replayOps(<%- JSON.stringify(drawing.ops) %>)
    </script>
</body>
</html>