<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ts.hackclub.com</title>

    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <tss>
        <tsss>
            <tssss onclick="ts_painter()"></tssss>
            <tssss onclick="ts_eraser()"></tssss>
        </tsss>
    </tss>
    <ts>
        <canvas id="ts-canvas" width="1080" height="720"></canvas>
    </ts>

    <script src="/public/paint.js"></script>
</body>
</html>