<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ts.hackclub.com</title>

    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div id="tsViewport">
        <div id="tsWorld">
            <div id="tsCanvasBg"></div>
            <svg id="tsCanvas" width="10000" height="10000"></svg>
        </div>
    </div>

    <div>
        <div>
            <div onclick="setTool('draw')"></div>
            <div onclick="setTool('eraser')"></div>
        </div>
    </div>

    <script src="/public/js/paint.js"></script>
</body>
</html>