
* {
    padding: 0;
    margin: 0;
}

#ts-canvas {
    z-index: 0;

    position: fixed;
    width: 100%;
}

tss {
    position: absolute;
    z-index: 10;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 1rem;
}

tss tsss {
    display: flex;
    flex-direction: row;
}

tss tsss tssss {
    cursor: pointer;

    padding: 2rem;
    border-radius: 1rem;
    background-color: #000000;
}

tss tsss tssss:not(:first-child) {
    margin-left: 1rem;
}

tss tsss tssss:hover {
    background-color: aliceblue;
}