
*, *::before, *::after {
    padding: 0;
    margin: 0;
}

:root {
    --bg: #d2d2d2;
    --surface: #ffffff;

    --canvas-size-width: 10000px;
    --canvas-size-height: 10000px;
}

body {
    background-color: var(--bg);
    font-family: sans-serif; 
}

.tsButtons {
    position: fixed;
    top: 12px;
    left: 14px;
    z-index: 99;
}

.tsButtonsPopup {
    padding-top: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tsButtonsPopup .tsButton:not(:last-child) {
    margin-right: 5px;
}

.tsButton {
    padding: 3px 15px;

    cursor: pointer;
    
    border: 1px black solid;
    border-radius: 4px;
    background-color: white;
}
.tsButton:hover { background-color: #e8e8e8; }

#tsAuth {
    position: fixed;
    top: 12px;
    right: 14px;
    z-index: 99;
    display: flex;
    align-items: center;
}

#tsAuth *:not(:last-child) {
    padding-right: 5px;
}

#tsFirstPopup {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}