
*, *::before, *::after {
    padding: 0;
    margin: 0;
}

:root {
    --bg: #c0c0c0;
    --surface: #ffffff;

    --canvas-size-width: 10000px;
    --canvas-size-height: 10000px;
}

body {
    background-color: var(--bg);
}

#tsViewport {
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    position: relative;
    cursor: default;
}

#tsViewport.drawing {
    cursor: crosshair;
}

#tsViewport.grabbing {
    cursor: grabbing;
}

#tsViewport.grabbing {
    cursor: cell;
}

#tsWorld {
    position: absolute;
    
    background-color: var(--surface);
    border-radius: 4px;
    transform-origin: 0 0;
}

#tsCanvasBg {
    position: absolute;

    inset: 0;

    width: var(--canvas-size-width);
    height: var(--canvas-size-height);
    background-color: var(--surface);
}

#tsCanvas {
    position: absolute;

    inset: 0;

    width: var(--canvas-size-width);
    height: var(--canvas-size-height);
    touch-action: none;
}
