
#tsToolbar {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;

    display: flex;
    align-items: center;

    background-color: var(--base);
    border: 1px solid var(--surface1);
    padding: 8px 12px;
    border-radius: 16px;
    gap: 10px;
}

.tsToolGroup {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tsToolGroup:not(:last-child) {
    padding-right: 10px;
    border-radius: 1px solid var(--surface1);
}

.tsBrushGroup {
    display: flex;

    justify-content: center;
    padding: 0 0 0 10px;
}

.tsToolBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    width: 45px;
    height: 45px;
    border-radius: 12px;
    background-color: transparent;

    border: 2px solid transparent;
    color: var(--text);
}

.tsToolBtn:hover {transform: scale(1.1);}
.tsToolBtn.active {border-color: var(--mauve);}

.tsBrushSlider {
    appearance: none;
    width: 80px;
    height: 8px;
    background-color: #000;
    border-radius: 5px;

    cursor: pointer;
}

.tsColorBtn {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    border: 2px solid transparent;
    background: transparent;

    cursor: pointer;

    position: relative;
}
.tsColorBtn.active {
    border-color: var(--mauve);
}

.tsColorPickerBtn {
    overflow: hidden;
    border: 2px solid var(--surface1);
}
.tsColorPickerBtn.active { border-color: var(--mauve);}

.tsColorSwitch {
    display: block;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    pointer-events: none;

    border: 2px solid var(--surface1);
}

#tsBrushSizeLabel {
    color: var(--subtext);
    text-align: center;

    width: 3ch;
    font-variant-numeric: tabular-nums;
}

#tsColorPickerInput {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}